.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 34px;

}

.btn-text {
    margin: 0px;
    text-align: center;
    font-size: 16px;
    text-align: center;
}
