.home_container {
    padding: 5px;
    font-size: 24px;
    text-align: center;
}

.home_content h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1em;
}

.home_card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.home_image {
    padding: 30px 15px;
    width: 100%;
}

.home_image svg {
    width: 100%;
    height: auto;

}

.home_button  {
    display: none;
}

@media only screen and (min-width: 415px) {

    .home_image svg {
        height: 330px;
    }

    .home_image {
        padding: 25px 15px;
    }

    .home_button  {
        display: none;
    }

}

@media only screen and (min-width: 576px) {

    .home_container {
        padding: 10px;
        font-size: 32px;
    }

    .home_button  {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    
    .home_image svg {
        height: 400px;
    }

    .home_button  {
        display: none;
    }

}

@media only screen and (min-width: 992px) {
    
    .home_image svg {
        height: 400px;
    }

    .home_button  {
        display: none;
    }

}